section {
  display: flex;
  justify-content: space-between;
}

section img {
  width: 50%;
}
section div {
  padding: 16px;
}
@media only screen and (max-width: 1000px) {
    section {
        flex-direction: column;
        margin-bottom:32px;
    }
  section img {
    top:0;
    width: 100%;
  }
}
