:root {
  --primary: #aedafa;
  --secondary: #85175b;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background: #fff;
}

a {
  color: var(--secondary);
}

nav {
  z-index:1000;
  flex-direction: row;
  padding:8px;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  position: sticky;
  top: 0;
  background: white;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bolder;
  font-size: large;
  white-space: nowrap;
  text-overflow: clip;
  padding: 0 8px;
}
.nav-left {
  max-width: 50%;
}
.nav-right {
  max-width: 50%;
}

main {
  min-height: 100vh;
}

footer {
  background: var(--primary);
  width: 100%;
  bottom: 0;
}

footer > fieldset {
  border: var(--secondary) 3px solid;
  border-bottom: none;
}

footer > fieldset > legend {
  color: var(--secondary);
}

.page {
  min-height: 100vh;
  padding: 40px 16px;
  background: linear-gradient(0deg, var(--primary) 0%, #fff 100%);
}

.hero {
  background: linear-gradient(0deg, var(--primary) 0%, #fff 100%);
  padding: 10vh 0;
  color: black;
  max-width: 100vw;
}

.hero-container {
  margin: 0 auto;
  text-align: center;
}

.hero-container iframe {
  min-width: 50vw;
  max-width: 70vw;
  aspect-ratio: 16/9;
}

.hero-container img {
  max-height: 40vh;
}

.hero-container p {
  font-weight: 500;
  padding: 0 10%;
  box-sizing: border-box;
}
.hero-title {
  font-size: -webkit-xxx-large;
  color: var(--secondary);
  margin: 10vh 0;
  /*height: 30vh;*/
}

.hero-pdf {
  height:50vh;
  width:100w;
}

.hero-main-title {
  margin: 10vh 0 0 0;
  height: 10vh;
}

.hero-down {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.hero-down button {
  background:none;
  border:none;
  font-size:xx-large;
  color:var(--secondary);
  font-weight:1000;
  animation: button cubic-bezier(0.19, 1, 0.22, 1) infinite 2s;
}

ul {
  list-style: none;
}

@keyframes button {
  0% {
    opacity:100%;
    transform:translateY(0%);
  }
  50% {
    opacity: 0%;
    transform:translateY(100%);
  }
  51% {
    transform:translateY(-10%);
  }
  100% {
    opacity: 100%;
    transform:translateY(-5%);
  }
}
.hero-main-title::before {
  content: "SRI KALARANJANI SCHOOL OF MUSIC";
}
@media only screen and (max-width: 1000px) {
  .hero-main-title::before {
    content: "SRI KALARANJANI";
  }
}

.hero-cta {
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
  color: var(--secondary);
  text-decoration: none;

  animation: spacing cubic-bezier(0.19, 1, 0.22, 1) infinite 4s;
}
@keyframes spacing {
  0%,
  100% {
    letter-spacing: normal;
    opacity: 80%;
  }
  20% {
    opacity: 100%;
    letter-spacing: -0.5px;
  }
}

.hero-cta::before {
  content: "→";
  padding: 8px;
  animation: left cubic-bezier(0.19, 1, 0.22, 1) infinite 4s;
}

@keyframes left {
  0%,
  100% {
    padding-right: 8px;
    opacity: 80%;
  }
  20% {
    opacity: 100%;
    padding-right: 0px;
  }
}
.hero-cta::after {
  content: "←";
  padding: 8px;
  animation: right cubic-bezier(0.19, 1, 0.22, 1) infinite 4s;
}

@keyframes right {
  0%,
  100% {
    padding-left: 8px;
    opacity: 80%;
  }
  20% {
    opacity: 100%;
    padding-left: 0px;
  }
}

.cta-section {
  background: var(--primary);
  color: black;
  padding: 48px 0;
}
